* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    border: 1px solid green;
    background-color: aqua;
    justify-content:space-between;
}
